@using EscolaDefinitivo.Models.ViewData;
@model EditarAlunoViewData
@{
    ViewData["Title"] = "Editar Aluno";
}

<div class="text-center">
    <h1>Dados do Aluno</h1>
</div>

<form asp-controller="Aluno" asp-action="Atualizar" method="post">

    <input type="hidden" asp-for="@Model.Aluno.Id" />
    <input type="hidden" asp-for="@Model.Cursos"/>
    <div class="form-group">
        <label for="Nome">Nome do Aluno</label>
        <input type="text" asp-for="@Model.Aluno.Nome" class="form-control" placeholder="Digite o nome do aluno">
        @Html.ValidationMessageFor(x => x.Aluno.Nome)
    </div>
    <br />
    <div class="form-group">
        <label for="Email">E-mail do Aluno</label>
        <input type="text" asp-for="@Model.Aluno.Email" class="form-control" placeholder="exemplo@exemplo.com">
        @Html.ValidationMessageFor(x => x.Aluno.Email)
    </div>
    <br />
    <div class="form-group">
        <label for="Telefone">Telefone de Contato</label>
        <input type="text" asp-for="@Model.Aluno.Telefone" class="form-control" id="Telefone" placeholder="XX XXXXX-XXXX" maxlength="14">
        @Html.ValidationMessageFor(x => x.Aluno.Telefone)
    </div>
    <br />
    <div class="form-group">
        <label for="cep">CEP:</label>
        <input  type="text" asp-for="@Model.Aluno.Cep" id="cep"  size="10" maxlength="9" class="form-control" />
    </div>
    <br />
    <div class="form-group">
        <label for="rua">Rua:</label>
        <input  type="text" asp-for="@Model.Aluno.Logradouro" id="rua" size="60" class="form-control" />
    </div>
    <br />
    <div class="form-group">
        <label for="numero">Numero</label>
        <input type="text" asp-for="@Model.Aluno.Numero" id="número" size="40" class="form-control" maxlength="5" />
    </div>
    <br />
    <div class="form-group">
        <label for="complemento">Complemento</label>
        <input type="text" asp-for="@Model.Aluno.Complemento" id="complemento" size="40" class="form-control" />
    </div>
    <br />
    <div class="form-group">
        <label for="bairro">Bairro:</label>
        <input type="text" asp-for="@Model.Aluno.Bairro" id="bairro" size="40" class="form-control" />
    </div>
    <br />
    <div class="form-group">
        <label for="cidade">Cidade:</label>
        <input  type="text" asp-for="@Model.Aluno.Localidade" id="cidade" size="40" class="form-control" />
    </div>
    <br />
    <div class="form-group">
        <label for="uf">Estado:</label>
        <input  type="text" asp-for="@Model.Aluno.Uf" id="uf" size="2" class="form-control" />
    </div>
    <br/>
    <div class="form-group">
        <label for="CursoId">Selecione o Curso</label>
        <select asp-for="@Model.Aluno.CursoId" class="form-control">
            <option value="">Selecione</option> 
            @foreach (var curso in Model.Cursos)
            {
                <option value="@curso.Value">@curso.Text</option>
            }
        </select>
    </div>
    <br />
    <a class="btn btn-secondary" asp-controller="Aluno" asp-action="Index" role="button">Voltar</a>
    <button type="submit" class="btn btn-primary">Salvar</button>

</form>
